service-provider/src/main/resources/soap/blogPostService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
  name="BlogPostService"
  targetNamespace="http://samples.de/spring/soap/blog/service"
  xmlns:blogService="http://samples.de/spring/soap/blog/service"
  xmlns:blog="http://samples.de/spring/soap/blog/types"
  xmlns:messages="http://samples.de/spring/soap/blog/messages"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
>

  <wsdl:types>
    <xsd:schema targetNamespace="http://samples.de/spring/soap/blog/messages">
      <xsd:import
        namespace="http://samples.de/spring/soap/blog/types"
        schemaLocation="blogPostDatatypes.xsd"
      />
      <xsd:complexType name="void">
        <xsd:choice/>
      </xsd:complexType>
      <xsd:complexType name="BlogPostListResponse">
        <xsd:sequence>
          <xsd:element name="blogPost" type="blog:BlogPost" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BlogPostInputRequest">
        <xsd:sequence>
          <xsd:element name="input" type="blog:BlogPostInput"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="UuidRequest">
        <xsd:sequence>
          <xsd:element name="id" type="blog:uuid"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:element name="findAllBlogPostsRequest" type="messages:void"/>
      <xsd:element name="findAllBlogPostsResponse" type="messages:BlogPostListResponse"/>
      <xsd:element name="createBlogPostRequest" type="messages:BlogPostInputRequest"/>
      <xsd:element name="deleteBlogPostRequest" type="messages:UuidRequest"/>

    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="findAllInputMessage">
    <wsdl:part name="findAllInputPart" element="messages:findAllBlogPostsRequest"/>
  </wsdl:message>
  <wsdl:message name="findAllOutputMessage">
    <wsdl:part name="findAllOutputPart" element="messages:findAllBlogPostsResponse"/>
  </wsdl:message>

  <wsdl:message name="createInputMessage">
    <wsdl:part name="input" element="messages:createBlogPostRequest"/>
  </wsdl:message>

  <wsdl:message name="deleteInputMessage">
    <wsdl:part name="id" element="messages:deleteBlogPostRequest"/>
  </wsdl:message>

  <wsdl:portType name="BlogPostServiceInterface">
    <wsdl:operation name="findAll">
      <wsdl:input message="blogService:findAllInputMessage"/>
      <wsdl:output message="blogService:findAllOutputMessage"/>
      <!-- use 'wsdl:fault' for error messages -->
    </wsdl:operation>
    <wsdl:operation name="create">
      <wsdl:input message="blogService:createInputMessage"/>
      <!-- use 'wsdl:fault' for error messages -->
    </wsdl:operation>
    <wsdl:operation name="deleteById">
      <wsdl:input message="blogService:deleteInputMessage"/>
      <!-- use 'wsdl:fault' for error messages -->
    </wsdl:operation>
  </wsdl:portType>


  <!-- SOAP over HTTP binding -->
  <wsdl:binding name="blogPostServiceHttpBinding" type="blogService:BlogPostServiceInterface">
    <!-- http://javainsimpleway.com/soap-message-binding-style/ -->
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="findAll">
      <soap:operation soapAction="findAll"/>
      <wsdl:input>
        <soap:body
          use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body
          use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="create">
      <soap:operation soapAction="create"/>
      <wsdl:input>
        <soap:body
          use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="deleteById">
      <soap:operation soapAction="deleteById"/>
      <wsdl:input>
        <soap:body
          use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>

  <!-- Concrete WSDL (server URL) -->
  <wsdl:service name="BlogPostService">
    <wsdl:port binding="blogService:blogPostServiceHttpBinding" name="BlogPostServicePort">
      <soap:address
        location="http://localhost:8081/ws/BlogPostService"/>
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>
